extends ../layout
block stylesheet
    //- link(rel="stylesheet", href="/frontend/index.css")
    //- link(rel="stylesheet", href="/frontend/header.css")
block preloadscripts
    //- script(src='/react.min.js')
block content
    .example test
    //- script(text="text/jsx",src="/frontend/javascripts/build/voice.js")
    //- script(text="text/jsx",src="/frontend/javascripts/build/header.js")

    