extends ../layout
block stylesheet
    link(rel="stylesheet", href="./frontend/index.css")
block preloadscripts
block content
    #chat.chat
        .msgs(id="msgs")
        input.fileIpt(type="file" id="fileIpt")
        button.sendFileBtn(id="sendFileBtn") 发送文件
        input.msgIpt(type="text" id="msgIpt")
        button.sendBtn(id="sendBtn") 发送
    #videos.videos
        video(id="me" autoplay)
    #files
block delayedscripts
    script(type="text/javascript",src="./frontend/chatrtc-client.js")
    script(type="text/javascript",src="./frontend/index.js")



