extends ../layout
block metadescription
    title 用户登录
block stylesheet
    link(rel="stylesheet", href="./frontend/register.css")
block preloadscripts
    script(type="text/javascript",src="/frontend/register.js")
block content
    .register-wrapper
        .register-container
            from(id="registerform", action="javascript:alert('success!');", method="post")
                h2 Welcome iChat, have fun!
                .username
                    input(type="text" , name="username" ,placeholder="用户名")
                .email
                    input(type="text",name="email",placeholder="邮箱")
                .password
                    input(type="text" , name="password" ,placeholder="密码")
                .repassword
                    input(type="text" , name="repassword" ,placeholder="再次输入密码")         
                .buttons
                    input(type="submit" , id="register-button" ,value="注册")