doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block metadescription
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    block stylesheet
    script(text="text/javascript",href="/vendor/bootstrap/dist/css/bootstrap.min.js")
    script(text="text/javascript",href="/vendor/jquery/dist/jquery.min.js")
    block preloadscripts
  body
    block content
    block delayedscripts